body * {
 font-family: 'Tahoma', sans-serif;
}

.moving-kekw {
  position: absolute;
  width: 15%;
  top: -10%;
  left: -25%;
  animation: kekw-across 20s linear infinite;
}

@keyframes kekw-across {
  0% {
    transform: translate(-200%, 110vh) rotateZ(0deg);
  }

  12.5% {
    transform: translate(120vw, -120%) rotateZ(20deg);
  }

  25% {
    transform: translate(-200%, 50vh) scale(1.75) rotateZ(-20deg);
  }

  37.5% {
    transform: translate(-200%, -120%) rotateZ(-40deg);
  }

  50% {
    transform: translate(100vw, 50vh) rotateZ(0deg);
  }

  62.5% {
    transform: translate(20vw, 100vh) rotateZ(20deg);
  }
  75% {
    transform: translate(200%, 100vh) rotateZ(20deg);
  }
  87.5% {
    transform: translate(50vw, -200%) scale(1.75) rotateZ(20deg);
  }

  100% {
    transform: translate(-200%, 110vh) rotateZ(0deg);
  }
}
